<div class="container">
    <div class="col-sm-12">
        <div class="jumbotron jumbotron-fluid">
            <div class="container">
                <div class="row">
                    <h3 class="col-sm-6 display-5">{{title}}</h3>
                    <h6 class="col-sm-6 text-right">Posted by: {{user.name}} on {{format_date date_created}}</h6>
                </div>
            </div>
        </div>
    </div>
</div>