<div class="list-group">
    <a class="list-item main-list" href="/dashboard/edit/{{id}}">
        <span>{{title}}</span>
        <span>Posted by: {{user.name}} on {{format_date date_created}}</span>
    </a>
</div>