<div class="list-group">
    <a class="list-item main-list" href="/dashboard">
        <span>{{title}}</span>
        <span class="float-right">Posted by: {{user.name}} on {{format_date date_created}}</span>
    </a>
</div>