<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <title>Tech-Blog</title>
</head>

<body>
    <div class="flex-column justify-space-around">
        <header class="header-style">
            <nav class="nav-bar mb-3">
                <a href="/">Home</a>
                {{#if logged_in}}
                <a class="text-warning disabled">Welcome {{logged_name}}!</a>
                <a href="/dashboard">Dashboard</a>
                <a href="/" id="logout">Logout</a>
                {{else}}
                <a href="/login">Login</a>
                {{/if}}
            </nav>
            <div class="header-box rounded">
                <a href="/" class="header-txt">The Tech Blog</a>
            </div>
        </header>
        <main class="container container-fluid mt-5">
            {{!-- Renderer the main page --}}
            {{{ body }}}
        </main>
        <footer class="d-flex justify-content-center mt-5">
            &copy; The Tech Blog
        </footer>
    </div>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
    {{#if logged_in}}
    <script src="/js/logout.js"></script>
    {{/if}}
</body>

</html>