<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <title>Tech-Blog</title>
</head>

<body>
    <div class="flex-column justify-space-around">
        <header class="header-style">
            <nav class="nav-bar mb-2">
                <a href="/">Home</a>
                {{#if logged_in}}
                <a href="/">Dashboard</a>
                <a href="/" id="logout">Logout</a>
                {{else}}
                <a href="/login">Login</a>
                {{/if}}
            </nav>
            <div class="header-box rounded">
                <a href="/" class="header-txt">The Tech Blog</a>
            </div>
        </header>
        <main class="container container-fluid mt-5">
            {{!-- Renderer the main page --}}
            {{{ body }}}
        </main>
        {{#if logged_in}}
        <script src="/js/logout.js"></script>
        {{/if}}
        <footer>

        </footer>
    </div>
</body>

</html>