{{#if posts.length}}
<div class="list-group">
    {{#each posts as |post|}}
    <a class="list-item" href="/dashboard">
        <span>{{post.title}}</span>
        <span>Posted on {{format_date date_created}}</span>
    </a>
    {{/each}}
</div>
{{/if}}
<div class="container mt-5">
    <div class="d-flex justify-content-center">
        <a type="button" class="btn btn-dark" href="/dashboard/newpost">+ New Content</a>
    </div>
</div>