{{#each posts as |post|}}
<div class="list-group">
    <a class="list-item main-list" href="/comments/{{id}}">
        <span>{{post.title}}</span>
        <span class="float-right">Posted by: {{user.name}} on {{format_date date_created}}</span>
    </a>
</div>
{{/each}}