<div class="card">
    <div class="card-header new-post">
        Create New Post
    </div>
    <form method="POST" action="/api/posts" class="card-body">
        <div class="form-group">
            <label class="form-label" for="title">Title</label>
            <input type="text" name="title" class="col-sm-12 form-input" id="title" />
        </div>
        <div class="form-group">
            <label class="form-label" for="content">Content</label>
            <textarea type="text" name="content" class="col-sm-12 form-input" id="content"></textarea>
        </div>
        <div class="form-group newpost-btn">
            <button type="submit" class="col-sm-12 btn btn-dark" id="create-post">Create</button>
        </div>
    </form>
</div>