<div class="container">
    <div class="row">
        <div class="col-sm-12 sign-form">
            <h2 class="page-title">Sign Up</h2>
            <form id="signup-form">
                <div class="form-group">
                    <label for="name">Username:</label>
                    <input class="col-sm-12 form-input" type="text" id="username-signup" />
                </div>
                <div class="form-group">
                    <label for="password-signup">Password:</label>
                    <input class="col-sm-12 form-input" type="password" id="password-signup" />
                </div>
                <div class="form-group">
                    <button class="col-sm-12 btn btn-primary" type="submit">Sign Up</button>
                </div>
                <a class="nav-link text-center" href="/login">Login If you have an account!</a>
            </form>
        </div>
    </div>
</div>

<script src="./js/signup.js"></script>