.header-style {
  background-color: goldenrod;
  color: black;
  padding: 30px;
}

nav a {
  font-size: large;
  font-weight: 600;
  margin: 10px;
}

#nav-bar {
  margin-bottom: 10px;
}

.header-box {
  background-color: rgb(201, 224, 166);
  margin: 10px;
  width: 360px;
  opacity: 0.8;
  text-align: center;
  text-decoration: none;
}

.header-txt {
  margin: 10px;
  padding: 10px;
  font-size: 36px;
  font-weight: 700;
  text-decoration: none;
}

body {
  background-color: rgb(105, 105, 24);
}

.log-form {
  border: black;
  border-style: double;
  background-color: beige;
}

.sign-form {
  border: black;
  border-style: double;
  background-color: beige;
}
