.header-style {
  background-color: rgb(119, 53, 53);
  color: black;
  padding: 30px;
}

nav a {
  font-size: large;
  font-weight: 600;
  margin: 10px;
}

.header-box {
  background-color: rgb(201, 224, 166);
  margin: 10px;
  width: 360px;
  opacity: 0.8;
  text-align: center;
  text-decoration: none;
  box-shadow: 6px 5px rgb(137, 138, 145);
}

.header-txt {
  margin: 10px;
  padding: 10px;
  font-size: 36px;
  font-weight: 700;
  text-decoration: none;
}

body {
  background-color: beige;
}

.log-form {
  border: black;
  border-style: double;
  background-color: beige;
}

.sign-form {
  border: black;
  border-style: double;
  background-color: beige;
}

.new-post {
  background-color: darkred;
  font-weight: 700;
  color: aliceblue;
}

.list-group {
  padding: 1%;
}

.main-list {
  color: aliceblue;
  margin-bottom: 20px;
  padding: 2.5%;
  border-radius: 20px;
  background-color: rgb(119, 53, 53);
  text-decoration: none;
}

.content-card {
  padding: 2%;
  text-decoration: none;
  background-color: beige;
  color: black;
}

.dashboard-card {
  color: beige;
  border: rgb(119, 53, 53);
  border-style: groove;
  margin-bottom: 10px;
  background-color: rgb(119, 53, 53);
}

.comment-card {
  color: beige;
  border: rgb(119, 53, 53);
  border-style: groove;
  margin-bottom: 10px;
  background-color: rgb(119, 53, 53);
}

.single-post {
  padding: 0.75rem 1.25rem;
}
